.App {
  padding: 20px;
  margin-left: 30px;
  text-align: start;
}

.Select {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 20px;
}

.radio {
  margin-top: 10px;
}

.Input {
  display: flex;
  align-items: center;
  margin: 30px 10px;
}

.input{
  width: 75px;
}

.p1 {
  padding-right: 75px;
}
.p2 {
  padding-right: 36px;
}
.p3 {
  padding-right: 15px;
}
.p4 {
  padding-right: 69px;
}

